        </div> <!-- End Page Content -->

        <!-- JavaScript -->
        <script type="text/javascript" src="//<%= host %>/boostrap/js/bootstrap.bundle.js"></script>
        <script type="text/javascript" src="//<%= host %>/jquery/jquery.min.js"></script>
    </body>
</html>
