        </div> <!-- End Page Content -->

        <!-- JavaScript -->
        <script type="text/javascript" src="https://beta.winsvideo.net/boostrap/js/bootstrap.bundle.js"></script>
        <script type="text/javascript" src="https://beta.winsvideo.net/jquery/jquery.min.js"></script>
    </body>
</html>
