<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>WinsVideo</title>

        <!-- CSS -->
        <link href="//<%= host %>/boostrap/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link href="//<%= host %>/css/style.css" rel="stylesheet">

        <!-- JavaScript -->
        <script src="//<%= host %>/vendor/js/videos.js"></script>

    </head>
    <body>

        <!-- Navigation -->
        <%- include('nav.ejs') %>

        <div class="page">
            <!-- Page Content -->
