<div class="container">
    <div class="header">
        <h1 id="logo">WinsVideo <small>Upload your style</small></h1>

        <form method="GET" enctype="multipart/form-data" class="form-inline" id="searchBarContainer">
            <input id="searchBar" class="span6" type="search" placeholder="Search" aria-label="Search">
            <button id="searchButton" class="btn btn-primary" type="submit">
                search
            </button>
        </form>
    </div>

    <div id="content">
        <div id="menu">
            <ul class="pills">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Messages</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
</div>

