<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css">
    <script src="vendor/js/videos.js"></script> 
    <title>WinsVideo | Home</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1 id="logo">WinsVideo <small>Upload your style</small></h1>

            <form method="GET" enctype="multipart/form-data" class="form-inline" id="searchBarContainer">
                <input id="searchBar" class="span6" type="search" placeholder="Search" aria-label="Search">
                <button id="searchButton" class="btn btn-primary" type="submit">
                  search
                </button>
            </form>
        </div>

        <div id="content">
            <div id="menu">
                <ul class="pills">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Messages</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>

            <div id="recommended">
                <!-- recommended videos on the homepage-->

                <!-- Here a loader is created which  
             loads till response comes -->
              <div class="d-flex justify-content-center"> 
                    <div class="spinner-border" 
                        role="status" id="loading"> 
                        <span class="sr-only">Loading...</span> 
                    </div> 
                </div> 
                <!-- videogrid -->
                <div id="videoGrid" class="videoGrid"></div>
            </div>

            <div id="latest">
                <!-- video that was uploaded -->
            </div>
        </div>
    </div>
</body>
</html>