<%- include('partials/header.ejs') %>

<div class="container">

    <div id="recommended">
        <!-- recommended videos on the homepage-->

        <!-- Here a loader is created which
     loads till response comes -->
        <div class="d-flex justify-content-center">
            <div class="spinner-border"
                 role="status" id="loading">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- videogrid -->
        <div class="largeVideoGridContainer">
            <div id="searchSection" class="column">
                <b>Results</b>
                <hr>
                <div id="videoGridSearch" class="videoGrid large"></div>
                <script src="http://localhost:3000/vendor/js/search.js"></script>
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer.ejs') %>