a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

.list-group-item {
    padding: 0;
}

#menu-toggle {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
    padding-top: 6px;
}

#logo {
    height: 35px;
    margin-left: 8px;
}

.column {
    flex-grow: 1;
    background-color: #fff;
    min-height: 100px;
    padding: 20px;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px; */
    margin: 20px; 
    display: inline-block;
    border: 1px solid #dee2e6 !important;
}